body {
  height: 100vh;
  background-color: var(--light-gray);
  font-size: 15px;
  outline: 1px solid red;
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: column;
}

html {
  font-family: 'Outfit', sans-serif;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

:root {
  --gray-blue: hsl(220, 15%, 55%);
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --dark-blue: hsl(218, 44%, 22%);
}

.card {
  width: 40%;
  height: 60%;
  min-height: 42em;
  max-width: 28em;
  min-width: 24em;
  background-color: var(--white);
  border-radius: 16px;
  margin: auto auto;
  /* outline: 1px solid blue; */
  text-align: center;
  box-shadow: 0 0 60px var(--gray-blue);
  display: grid;
  grid-template-rows: 70% 30%;
}

.card img {
  width: 100%;
  border-radius: 1rem;
}

.card .qr-image {
  margin: auto;
  max-width: 90%;
  margin-top: 1rem;
  border-radius: 1rem;
  width: 90%;
  height: 60%;
  background-color: var(--dark-blue);
}

.card .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1.5rem;
}

.card strong {
  font-size: 25px;
  margin-bottom: 10px;
  padding-top: 10px;
  color: var(--dark-blue);
}

.card span {
  font-size: 18px;
  color: var(--gray-blue);
}

.attribution {
  bottom: 0;
  position: absolute;
  height: 2em;
  width: 100vw;
}